{% extends 'base.html.twig' %}
{% block title %}Research database -> create institution{% endblock %}
{% block body %}
    {% form_theme form.new_place 'form/newInstitutionPlaceForm.html.twig' %}

    <div id="institution_form">
        <h1>Create institution</h1>
        <ul>
            <li>
                {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </li>
        </ul>
    </div>

    <div id='map'></div>

{% endblock %}

{% block javascripts %}
<script>
    var $newPlaceDiv = $('#newInstitutionPlace');
    var $placeSelect = $('#institution_place');
    var $newPlaceCheckbox = $('#institution_new_place_toggle_0');

    deactivateForm($newPlaceDiv);

    $placeSelect.on('change', function (e) {
        toggleCheckboxActivation($newPlaceCheckbox, $placeSelect);
        toggleFormActivation($newPlaceDiv, $placeSelect, $(this));
    });

    var map = initiateMap('map');

    $placeSelect.on('change', function (e) {
        toggleCheckboxActivation($newPlaceCheckbox, $placeSelect);
        toggleFormActivation($newPlaceDiv, $placeSelect, $(this));
        $('#edit_place_marker').remove();

        if($placeSelect.val()) {
            var geojson = getGeojsonView($placeSelect.val());
            placeMapMarkers(geojson);
        }
    });

    $newPlaceCheckbox.on('change', function (e) {
        toggleFormActivation($newPlaceDiv, $placeSelect, $(this));
        if($newPlaceCheckbox.prop('checked')){
            map.on('click', addDraggableMarker);
        }
        else{
            removeDraggableMarker();
        }
    });

</script>

{% endblock %}