{% extends 'base.html.twig' %}
{% block title %}Research database -> edit occupation{% endblock %}
{% block body %}

        <h3>Edit occupation</h3>
    <ul>
        <li>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </li>
    </ul>
{% endblock %}