{# templates/form/actionform.html.twig #}

{% block _place_image_row %}
    {{ form_widget(form.fileContents) }}
    <label for="place_image_fileContents" class="fileLabel"><strong>Choose an image </strong><span class="box__dragndrop"> or drag it here</span>.</label>
{% endblock %}