
{% block _source_file_widget %}

    <label for="file" class="fileLabel"><strong>Choose a pdf file, or several images </strong><span class="box__dragndrop"> or drag it/them here</span>.</label>
    <input type="file" id="source_file_fileContents_file" name="source[file][fileContents][file][]" required="required" class="box__file" multiple="multiple" />

{% endblock %}