{% extends 'base.html.twig' %}
{% block title %}Research database -> edit occupation{% endblock %}
{% block body %}

    <div id="index_area">
        <h1>Edit occupation</h1>

        <ul>
        <li>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </li>
    </ul>
    </div>
{% endblock %}