{% block mentionsCheckboxes %}
    <li class="mentionCheckBoxes">
        <p>
            <label>Actor</label><input type="checkbox" name="actor"  {% if mentionForm.vars.value.actor is not null %} checked {% endif %} value="actorCheck" id="actorCheck">
            <label>Institution</label><input type="checkbox" name="institution"  {% if mentionForm.vars.value.institution is not null %} checked {% endif %} value="institutionCheck" id="institutionCheck">
            <label>Place</label><input type="checkbox" name="place" {% if mentionForm.vars.value.place is not null %} checked {% endif %} value="placeCheck" id="placeCheck">
            <label>Source</label><input type="checkbox" name="source" {% if mentionForm.vars.value.mentionedSource is not null %} checked {% endif %} value="sourceCheck" id="sourceCheck">
        </p>
    </li>
{% endblock %}