{% extends 'base.html.twig' %}

{% block title %}Research database -> sources -> {{ source.title }}{% endblock %}
{% block body %}

    <h1>Suggested topics</h1>
    <ul>
        {% for suggestedTopic in suggestedTopics %}
            <li>{{ suggestedTopic }}</li>
        {% endfor %}
    </ul>
{% endblock %}

