{% extends 'base.html.twig' %}
{% block title %}Research database -> test{% endblock %}
{% block body %}
    <script type="text/javascript">
        function confirmDelete() {
            return confirm('Are you sure you want to delete this archive?');
        }
    </script>

    <div id="index_area">
    </div>


    <b>{{ dump(source) }}</b>

{% endblock %}